@media (min-width: 768px) {
    nav ul {
        display: flex;
        /* horizontal nav on larger screens */
        flex-direction: row;
    }

    #hamburger {
        display: none;
        /* hide hamburger on large screens */
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* multiple columns */
    }
}