@media screen and (min-width: 32rem) {
    nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    #hamburger {
        display: none;
    }

    main.container {
        grid-template-columns: repeat(3, 1fr);
    }
}